---
---

//
// IMPORTS
//

@import "reset";
@import "variables";

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
}

body {
	background: #EDEAE8;
  font: 18px/1.4 $systemFont;
  color: $darkGray;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $systemFont;
  color: $darkerGray;
  font-weight: bold;

  line-height: 1.7;
  margin: 1em 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 30px;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
  color: $gray;
}

p {
  margin: 15px 0;
}

a {
  color: $blue;
  text-decoration: none;
	cursor: pointer;
  &:hover, &:active {
    color: $blue;
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

p {
  font-family: $systemFont;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}


.menu .pagename {
  position: absolute;
  left: 24px;
  top: 10px;
  font-size: 64px;
  color: #E0E0E0;
  font-family: 'Rock Salt', cursive;
}

.menu .ownername {
  position: absolute;
  left: 120px;
  top: 62px;
  font-size: 36px;
  color: #333333;
  font-family: 'Antic Slab', serif;
  z-index: 1;
}

.menu .nav {
   margin-top: 82px;
   border-top: 10px solid white;
   padding-top: 30px;
   margin-bottom: 35px;
   display: flex;
   justify-content: space-around;
   flex-direction: row;
}

.menu .item {
  flex: 1;
  font-size: 14px;
  color: #5D5D5D;
  font-family: 'Rock Salt', cursive;
      text-align: center;
}


.container {
  margin: 0 auto;
  max-width: 740px;
  padding: 0 10px;
  width: 100%;
}

.container img {
  padding: 15px;
  display: inline-block;
  width: 49%;

  @include mobile {
    display: block;
    width: 100%;
  }
}
